<!-- Header nur anzeigen, wenn der Benutzer nicht eingeloggt ist -->
<<div [class.logged-in]="isLoggedIn" class="app-container">
  <header>
    <nav>
      <a routerLink="/">Home</a>
      <a *ngIf="!isLoggedIn" routerLink="/login">Login</a>
      <a *ngIf="!isLoggedIn" routerLink="/register">Register</a>
      <a *ngIf="isLoggedIn" routerLink="/profile">Mein Profil</a>
      <button *ngIf="isLoggedIn" (click)="logout()">Abmelden</button>
    </nav>
  </header>

  <div class="header">
    <h1>{{ title }}</h1> <!-- Greift auf die Eigenschaft 'title' zu -->
  </div>

  <mat-toolbar color="primary">
    <span>Marketplace</span>
    <span class="spacer"></span>
    <a mat-button routerLink="/">Home</a>
    <a mat-button routerLink="/login">Login</a>
    <a mat-button routerLink="/register">Register</a>
  </mat-toolbar>
</div>
<!-- Router-Outlet für Seiteninhalte -->
<router-outlet></router-outlet>
