<!-- Header nur anzeigen, wenn der Benutzer nicht eingeloggt ist -->
<div *ngIf="!isLoggedIn" class="global-header">
  <nav>
    <a routerLink="/">Home</a>
    <a routerLink="/login">Login</a>
    <a routerLink="/register">Register</a>
  </nav>
</div>
<mat-toolbar color="primary">
  <span>Marketplace</span>
  <span class="spacer"></span>
  <a mat-button routerLink="/">Home</a>
  <a mat-button routerLink="/login">Login</a>
  <a mat-button routerLink="/register">Register</a>
</mat-toolbar>

<!-- Router-Outlet für Seiteninhalte -->
<router-outlet></router-outlet>
